body {
    font-family: 'Poppins', sans-serif;
}

.remote-access-text {
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(67, 67, 181);
}

h3 {
    text-align: center;
    color: rgb(71, 151, 182);
}

.hilight-text {
    color: green;
}

.ultranvcviewer {
    color: green;
    font-size: 18px;
    background-color: yellow;
    padding: 10px 20px;
    border-radius: 10px;
}